* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: novafonte;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;

}

body::-webkit-scrollbar-track {
	background-color: #FF94CB;
}

body::-webkit-scrollbar {
	width: 20px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: #964b74;
}

body {
	color: var(--text-color);
	background: #FF94CB;
}

#logo {
	margin-top: 2vh;
	width: 500px;
}

.logo {
	text-align: center;
	width: auto;
}


#carticon {
	width: max-content;
	border-radius: 30px;
	font-size: 8em;
	background-color: #FFE8E5;
}
#lefticon{
	width: max-content;
	border-radius: 30px;
	font-size: 8em;
	color: #964b74;
	background-color: #FFE8E5;
}

#main {
	margin-bottom: 10vh;
}

#header.logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#header.logo div {
	margin: 0;
}

#header {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 10%;
	padding-right: 10%;
}

#title-div {
	color: #964b74;
	margin-top: 5%;
	margin-bottom: 2%;
	text-align: center;
}

#title {
	font-weight: bold;
	font-size: 6rem;
}

#description {
	font-size: 3rem;
}

#snacks {
	margin-top: 5vh;
	display: grid;
	margin: 0 auto;
	grid-template-columns: 1fr 1fr;
	width: max-content;
	justify-content: center;
	align-items: center;
	justify-items: center;
	margin-bottom: 10vh;
	gap: 30px;
}

.snacks-items {
	width: 300px;
	height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 10px;
	background-color: white;
	border-radius: 25% 25% 15% 15% ;
}

.snacks-info {
	padding: 0px 30px 30px 30px;
}

.snacks-img {
	width: 100%;
	border-radius: 25%;
}

.snacks-title {
	margin-top: 10px;
	font-size: 1.5rem;
	color: #964b74;
}

.snacks-footer {
	margin-top: 2%;
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: space-between;
	color: #964b74;
}

.snacks-span {
	color: white !important;
	background-color: #964b74;
	text-align: center;
	border-radius: 15px;
	padding: 5px 10px;
}

@media (max-width: 900px) { 
	/* ================= */
	/* ===== LOGO ====== */
	#logo {
		margin-top: 2vh;
		width: 300px;
	}
	#carticon {
		border-radius: 15px;
		font-size: 4em;
	}
	#lefticon{
		border-radius: 15px;
		font-size: 4em;
	}
}

@media (max-width: 660px) {
	/* ================= */
	/* ===== LOGO ====== */
	#header {
		padding: 10px;
	}
	#logo {
		margin-top: 2vh;
		width: 200px;
	}
	#carticon {
		border-radius: 10px;
		font-size: 2.5em;
		padding: 5px;
	}
	#lefticon{
		border-radius: 10px;
		font-size: 2.5em;
		padding: 5px;
	}
	/* ================= */
	/* ===== Título ====== */
	#title {
		font-size: 2.7rem;
	}
	#description {
		font-size: 2rem;
	}
	/* ================= */
	/* ===== CARD ====== */
	#snacks {
		gap: 10px;
	}
	.snacks-items {
		width: 200px;
		height: 260px;
	}
	.snacks-title {
		margin-top: 0px;
		font-size: 16px;
	}
	.snacks-footer {
		font-size: 13px;
	}
	.snacks-info {
		padding: 10px 20px 20px 20px;
	}
	
}

@media (max-width: 450px) {
	/* ================= */
	/* ===== CARD ====== */
	#snacks {
		gap: 10px;
	}
	.snacks-items {
		width: 150px;
		height: 210px;
	}
	.snacks-title {
		margin-top: 0px;
		font-size: 14px;
	}
	.snacks-footer {
		font-size: 12px;
	}
	.snacks-info {
		padding: 20px;
	}
}